/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --main-font: 'IBM Plex mono';
  --main-text-color: #F1B2CE;
  --subtitle-color: #000028;
  --accent-color: #FF0070;
  --padding: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  --heading-text-color: #DB00FF;
}

  
