.page.theme_light {
  --main-font: 'IBM Plex mono';
  --main-text-color: #353430;
  --accent-color: #FF8DCB;
  --padding-inline: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  --heading-text-color: #FFC2E6;
  --decorated-zone-color: #353430;
  --background-image: url(../images/cover-image-light.png);
  --header-menu-color: #353430;
  --background-color: #FFF1F7;
  --title-color: #353430;
  --header-menu-color-transparent: rgba(53, 52, 48, 0.5);
  --decorated-element-hidden: hidden;
  --subtitle-color: #353430;
} 


@media (min-width: 1024px) {
  .header__title {
    text-shadow: 4px 4px 0 #FF0070;
  }

  .footer__title {
    text-shadow: 2px 2.5px 0 #FF0070;
  }
}


@media (prefers-color-scheme: light) {
  :root {
    --main-font: 'IBM Plex mono';
    --main-text-color: #353430;
    --title-color: #353430;
    --accent-color: #FF8DCB;
    --padding-inline: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
    --heading-text-color: #FFC2E6;
    --decorated-zone-color: #353430;  
    --background-image: url(../images/cover-image-light.png);
    --header-menu-color: #353430;
    --background-color: #FFF1F7;
    --title-color: #353430;
    --header-menu-color-transparent: rgba(53, 52, 48, 0.5);
    --decorated-element-hidden: hidden;
    --subtitle-color: #353430;
  } 
}
