.page.theme_light {
  --main-font: 'IBM Plex mono';
  --main-text-color: #353430;
  --accent-color: #FF8DCB;
  --padding-inline: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  --heading-text-color: #FFC2E6;
}

.page.theme_light {
  background-image: url(../images/cover-image-light.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.page.theme_light .header {
  background-image:url(../images/cover-image-light.png);
}
 
.page.theme_light .decorated-zone::before,
.page.theme_light .decorated-zone::after {
  border-color: var(--main-text-color);
}

.page.theme_light .header__decorated-element {
  visibility: hidden;
}

.page.theme_light .header__theme-menu {
  color: var(--main-text-color);
}

.page.theme_light .header__theme-menu-button_active {
  border: 1px solid var(--main-text-color);
}

.page.theme_light .header__theme-menu-button:hover {
  border: 1px solid var(--main-text-color);
  padding-block-end: 4px;
}

.page.theme_light .content,
.page.theme_light .footer {
  background-color: #FFF1F7;
}

.page.theme_light .content__section-title {
  color: var(--main-text-color);
}


@media (min-width: 1024px) {
  .header__title {
    text-shadow: 4px 4px 0 #FF0070;
  }

  .footer__title {
    text-shadow: 2px 2.5px 0 #FF0070;
  }
}


@media (prefers-color-scheme: light) {
  :root {
    --main-font: 'IBM Plex mono';
    --main-text-color: #353430;
    --title-color: #353430;
    --accent-color: #FF8DCB;
    --padding-inline: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
    --heading-text-color: #FFC2E6;  
  }

  .page.theme_auto {
    background-image: url(../images/cover-image-light.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

  .page.theme_auto .header {
    background-image: url(../images/cover-image-light.png);
  }

  .page.theme_auto .decorated-zone::before,
  .page.theme_auto .decorated-zone::after {
    border-color: var(--main-text-color);
  }
  
  .page.theme_auto .header__decorated-element {
    visibility: hidden;
  }

  .page.theme_auto .header__theme-menu {
    color: var(--main-text-color);
  }

  .page.theme_auto .header__theme-menu-button_active {
    border: 1px solid var(--main-text-color);
  }

  .page.theme_auto .header__theme-menu-button:hover {
    border: 1px solid var(--main-text-color);
    padding-block-end: 4px;
  }

  .page.theme_auto .content__section-title {
    color: var(--main-text-color);
  }
  
  .page.theme_auto .content,
  .page.theme_auto .footer {
    background-color: #FFF1F7;
  }
}
